/* CSS Styles for Competition Component */
.competition {
  scrollbar-width: thin;
  scrollbar-color: #1c383c #e1e1e1;
}

.competition::-webkit-scrollbar {
  width: 8px;
}

.competition::-webkit-scrollbar-track {
  background-color: rgba(225, 225, 225, 1);
  border-radius: 10px;
}

.competition::-webkit-scrollbar-thumb {
  background-color: rgba(28, 56, 60, 1);
  border-radius: 10px;
}

.competition-wrapper {
  @apply w-full mt-[60px] flex flex-col flex-wrap base:pb-[28px] base:max-w-[984px] 
    base:max-h-[790px] base:overflow-x-scroll base:overflow-y-hidden;
}